// COLORS VAR
$textColor: #FFF ;
$textColor2: #3C3C3C;

$bgColor: #333333;
$bgColor2: #2C2C2C;

$primaryColor: #128B19;
$SecondaryColor: #170535;


//FONTS VAR
$fontFamily: 'Montserrat', sans-serif;

$fontText: 16px;
$fontSubtitle: 24px;
$fontTitle: 32px;



// WIDTH WINDOW VAR

// max-width: responsive
$xxl: '(max-width: 1400px)';
$xl: '(max-width: 1200px)';
$lg: '(max-width: 992px)';
$md: '(max-width: 767px)';
$sm: '(max-width: 600px)';

// min-width: reposnive
$minXxl: '(min-width: 1400px)';
$minXl: '(min-width: 1200px)';
$minLg: '(min-width: 992px)';
$minMd: '(min-width: 767px)';
$minSm: '(min-width: 600px)';
