.playerArea {
    padding: 100px 0;

    @media #{$xxl} {
        padding: 100px;
    }

    @media #{$xl} {
        .col-xl-4 {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    @media #{$lg} {
        padding: 100px 50px;
    }

    @media #{$md} {
        padding: 50px 50px;
    }

    @media #{$sm} {
        padding: 50px 30px;
    }

    .playerIcon {
        @include flex(center, flex-start);
        cursor: pointer;
        width: 100%;
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }

        @media #{$xl} {
            width: 350px;

            &:last-child {
                margin-bottom: 40px;
            }
        }

        .icon {
            position: relative;
            min-width: 100px;
            height: 100px;
            background-image: #{$degrade1};
            @include flex(center, center);
            border-radius: 50%;

            &::after {
                content: "";
                position: absolute;
                width: calc(100px - 10px);
                height: calc(100px - 10px);
                background-color: $bgColor2;
                top: 5px;
                left: 5px;
                z-index: 1;
                border-radius: 50%;
            }

            img {
                position: relative;
                z-index: 2;
                width: 50px;
                height: 50px;
                object-fit: contain;
            }
        }

        .name {
            position: relative;
            padding-left: 10px;
            font-size: $fontSubtitle - 4px;
            height: 100px;
            width: 100%;
            @include flex(center, flex-start);

            .nameEffect {
                position: absolute;
                left: -18px;
                top: 50%;
                transform: translateY(-50%) scaleX(0);
                transform-origin: left;
                z-index: -1;
                width: 100%;
                height: 80px;
                object-fit: contain;
                @include flex(center, flex-start);
                transition: 0.3s;

                img {
                    width: auto;
                    height: 100%;
                    object-fit: contain;
                }

                @media #{$xl} {
                    height: 70px;
                }
            }

            span {
                color: setTextColor($bgColor);
            }
        }

        &.active {
            .name {
                .nameEffect {
                    transform: translateY(-50%) scaleX(1);
                }
            }
        }
    }

    .team {
        position: relative;
        width: 100%;
        height: 100%;

        @media #{$xl} {
            height: 800px;
        }

        @media #{$md} {
            height: 2000px;
        }

        .player {
            position: absolute;
            width: 100%;
            height: auto;
            top: 0;
            left: -100px;
            opacity: 0;
            visibility: hidden;
            transition: 0.3s;

            .playerChar {
                background-image: #{$degrade1};
                width: 200px;
                height: 200px;
                border-radius: 30px;
                margin-bottom: 30px;
                @include flex(center, center);
                transition: 0.3s;

                @media #{$md} {
                    height: 600px;
                    width: 100%;
                    margin-top: 50px;
                }

                .statsArea {
                    position: relative;
                    width: calc(100% - 10px);
                    height: calc(100% - 10px);
                    background-color: $bgColor2;
                    border-radius: 30px;

                    .charImg {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: auto;
                        height: 200px;
                        transition: 0.3s;
                        display: flex;
                        align-items: flex-end;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                            border-radius: 0 0 30px 30px;
                            transition: 0.3s;

                            @media #{$md} {
                                    height: 140%;
                                    filter: drop-shadow(10px 0px 0px $SecondaryColor);
                            }
                        }
                    }
                }

                &.active {
                    width: 100%;
                    margin-top: 100px;

                    @media #{$md} {
                        height: 600px;
                        width: 100%;
                        margin-top: 50px;
                    }

                    .statsArea {
                        .charImg {
                            img {
                                height: 140%;
                                filter: drop-shadow(10px 0px 0px $SecondaryColor);
                            }
                        }
                    }
                }
            }

            &.active {
                left: 0;
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
